<%- include ('templates/header'); -%>


<% if(userauth) { %>
  <%- include ('templates/authnav'); -%>
<% } else { %>
  <%- include ('templates/notauthnav'); -%>
<% } %>

<!--<div class='container'>-->
	<div class='jumbotron'>
		<!--<a class='btn btn-primary' href='/login'>Login</a>-->
		<!--<a class='btn btn-info' href='/register'>Register</a>-->
		
		<% results.forEach(function(t) { %> 
              <div class="img-thumbnail flex-item">
                <img  src='<%=t.itemlink%>'  >
                <h4>Seller: <%=t.lastname%>, <%=t.firstname%></h4>
                <h4><%=t.itemName%></h4>
                <h4>Description: <%=t.description%></h4>
                <h4>Cost: <%=t.price%></h4>
                <h5>Category: <%=t.category%></h5>
                <h5>Color: <%=t.color%></h5>
                <h5>Units Left: <%=t.unitsleft%></h5>
                <form action='/addtocart' method='POST'>
                  
                  
                  
                  <input type='number' class='form-control' name='itemId' value='<%= t.itemId %>' style="visibility: hidden;">
                  <button type="submit" class="btn btn-outline-success">Cart</button>
                </form>
              </div>
            <% }) %>
		
	</div>
<!--</div>-->

<%- include ('templates/footer'); -%>
